/* * * * * * * * * * * * * * * *
 *           WINDOW            *  
 * * * * * * * * * * * * * * * */

::-webkit-scrollbar {
  background: #282828;
}

::-webkit-scrollbar-thumb {
  background: #FFFFFF;
}

#quads-container {
  display: grid;
  grid-template-columns: minmax(75vh, 85vh) minmax(75vh, 85vh);
  grid-template-rows: minmax(18vw, 20vw) minmax(20vw, 25vw);
  max-width: 98%;
  margin: 0 auto;
}

.quad {
  background-color: black;
}

/* * * * * * * * * * * * * * * *
 *          OVERVIEW           *  
 * * * * * * * * * * * * * * * */

.overview-container {
  display: flex;
  height: 99%;
  margin: auto;
  overflow: hidden;
}

.overview-container p {
  color: #A5A8A6;
  margin: auto;
}

#overview-left {
  width: 40%;
}

#overview-left h3 {
  margin: 0;
  color: #FFFFFF;
  text-align: center;
}

#overall-score-chart {
  margin: 15% auto 5%;
  width: 100%;
  height: 60%;
}

#overall-score-chart path{
  stroke-width: 2.5;
}

#overall-score-chart text {
  fill: white;
}

#overall-score-chart tspan {
  font-size: 2em;
  font-weight: bolder;
}

#overview-right {
  display: inline-block;
  width: 59%;
  height: 100%;
  line-height: 100%;
  vertical-align: top;
}

#overview-right p {
  font-family: 'Lato', serif; 
  font-size: 0.7em;
  color: #A5A8A6;
} 

#overview-logo {
  position: relative;
  text-align: center;
  width: 80%;
}

#overview-logo img {
  height: auto;
  margin-top: 5%;
  max-width: 275px;
  max-height: 50px;
  min-height: 50px;
}

#overview-description-container {
  display: block;
  width: 80%;
}

#company-info {
  text-align: left;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  width: 100%;
}

#company-url-pre {
  margin-top: 2.5%;
}

#company-url-pre a,
#company-url-pre a:visited {
  color: #FFFFFF;
}

/* * * * * * * * * * * * * * * *
 *            STOCK            *  
 * * * * * * * * * * * * * * * */

 .stock-container {
  display: flex;
  margin: auto;
  width: 100%;
  height: 99%
}

.stock-container p {
  margin: auto;
  text-align: center;
  color: #A5A8A6;
}

.stock-container iframe {
  width: 100%;
  height: 95%;
  background-color: black;
}

.stock-container-info {
  margin: 0;
  max-height: 14%;
}

.stock-container-info ul {
  margin: 0;
  color: white;
}

.stock-container-info li {
  color:#A5A8A6;
  display: inline-block;
  font-size: 0.65em;
  margin: 15%;
}

.stock-container-info span {
  display: block;
}

.stock-container-info {
  width: 10%;
}

.stock-info-list {
  padding: 0;
}

.stock-info-cat {
  color: #FFFFFF;
}

.stock-info-list span {
  /* animation: blinker 1s linear infinite; */
  /* border: 1px solid gold; */
}

/* * * * * * * * * * * * * * * *
 *           ISSUES            *  
 * * * * * * * * * * * * * * * */
 
#quad-issues {
  width: 100%;
  height: 99%;
}

#issues-header {
  margin: 4.5% 0 0;
  color: #A5A8A6;
}

.issues-container {
  display: inline-block;
  width: 75%;
  height: 99%;
}

.issues-container p {
  text-align: center;
  color: #FFFFFF;
}

.issue-box {
  height: 48%;
  width: 32.5%;
  display: inline-block;
  vertical-align: top; 
}

.issue-pie {
  margin: 5% 5%;
  width: 100%;
  height: 80%;
}

.issue-pie tspan {
  font-size: 1.25em;
  position: relative;
  height: 100%
}

.issue-pie path {
  stroke-width: 2.5;
}

#No-Issue-Selected {
  font-size: 0.8em;
}

.issue-box p {
  display: block;
  font-size: 0.8em;
  margin: 5% auto;
  color: #ffffff,
}

.issues-politicians {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  height: 99%;
}

.polit-recip {
  font-size: 0.8em;
  margin: 15% 0 0;
  text-align: center;
  color: #FFFFFF;
}

.polit-info-name {
  color: #FFFFFF;
  font-size: 0.6em;
  text-align: center;
  margin: 0;
}

.polit-info {
  color: #A5A8A6;
  font-size: 0.6em;
  text-align: center;
  margin: 0;
}

.politician {
  margin: 2% auto 0;
  width: 80%;
  height: 25%;
}

.politician p {
  font-size: 0.6em;
  color: #FFFFFF;
  margin: 0 auto;
  position: relative;
}

.politician img {
  display: block;
  position: relative;
  width: auto;
  height: 80%;
  margin: 2% auto 0;
}

/* * * * * * * * * * * * * * * *
 *        COMPANY LIST         *  
 * * * * * * * * * * * * * * * */

#quad-company-list {
  height: 99%;
  width: 100%;
}

/* loading video */
#quad-company-list img {
  display: block;
  position: relative;
  margin: auto;
  max-height: 100%;
  max-width: 85%; 
}

.divTable {
  background-color: #000000;
  margin: 3.5% 0 0;
  width: 100%;
  overflow: auto;
}

.divTableHead {
  display: inline-block;
  white-space: pre;
  width: 100%;
}

#cl-category-nav {
  width: 100%;
  font-size: 1em;
  color: #FFFFFF;
  background-color: #000000;
  position: fixed;
  margin: 0;
}

#cl-category-name {
  max-width: 27.25%;
  overflow: hidden;
}

#cl-category-ticker {
  margin-right: 3.5%;
}

#cl-category-overall {
  margin-right: 3.5%;
}

#cl-category-issue .none {
  padding-right: 15%;
}

.cl-category {
  display: inline-block;
  height: 100%;
  overflow: auto;
  margin-right: 5.25%;
}

.cl-header {
  background-color: black; 
  color: #FFFFFF;
  font-size: 0.8em;
  text-align: center;
  margin-right: 1%;
}

#cl-header-name {
  margin-right: 9.5%;
}

/* #cl-header-ticker {

} */
/* #cl-header-name .cl-list {
  margin-right: 9%;
} */

/* #cl-category-name {
  min-width: 30%;
  max-width: 50%;
  overflow: hidden;
} */

/* #cl-category-ticker, */
/* #cl-category-overall, */
/* #cl-category-issue {
  visibility: hidden;
} */

.cl-list {
  padding-top: 15%;
}

.cl-list a, .cl-list p {
  color: #A5A8A6;
}

.cl-list a:hover {
  color: #FFFFFF;
}

.company-names-list {
  display: block;
  font-size: 0.8em;
  list-style-position: inside;
  list-style-type: none; 
  text-decoration: none;
  white-space: nowrap;
  margin: 0;
}

.company-list {
  display: block;
  font-size: 0.8em;
  list-style-position: inside;
  list-style-type: none; 
  white-space: nowrap;
  margin: 0;
  text-align: center;
}

#cl-category-overall p {
  font-weight: bolder;
}
