::-webkit-scrollbar {
  background: #A5A8A6;
}

::-webkit-scrollbar-thumb {
  background: #FFFFFF;
}

#quads-container {
  display: grid;
  grid-template-columns: minmax(80vh, 90vh) minmax(80vh, 90vh);
  grid-template-rows: minmax(20vw, 25vw) minmax(22vw, 25vw);
  max-width: 98%;
  margin: 0 auto;
}

.quad {
  background-color: black;
}

/* * * * * * * * * * * * * * * *
 *          OVERVIEW           *  
 * * * * * * * * * * * * * * * */

.overview-container {
  display: flex;
  height: 99%;
  margin: auto;
  overflow: hidden;
}

#overview-left {
  width: 40%;
}

#overview-left h3 {
  margin: 0;
  color: #FFFFFF;
  text-align: center;
}

#overall-score-chart {
  margin: 15% auto 5%;
  width: 100%;
  height: 50%;
}

#overall-score-chart path{
  stroke-width: 2.5;
}

#overall-score-chart text {
  fill: white;
}

#overall-score-chart tspan {
  font-size: 2em;
  font-weight: bolder;
}

#overview-right {
  display: inline-block;
  width: 59%;
  height: 100%;
  line-height: 100%;
  vertical-align: top;
  margin-top: 5%;
}

#overview-right p {
  font-family: 'Lato', serif; 
  font-size: 0.65em;
  color: #A5A8A6;
} 

#overview-logo {
  position: relative;
  margin: 0;
  width: 80%;
  text-align: center;
}

#overview-logo img {
  height: auto;
  margin: 0;
  max-width: 250px;
  max-height: 50px;
  min-height: 50px;
}

#overview-description-container {
  display: block;
  width: 80%;
}

#company-info {
  text-align: left;
  margin-left: 5%;
  margin-top: 2.5%;
  width: 100%;
}

#company-info-more p {
  margin: 0 5%;
}

#company-url-pre {
  margin-left: 5%;
}

#company-url-pre a:link {
  color: #FFFFFF;
}

/* * * * * * * * * * * * * * * *
 *            STOCK            *  
 * * * * * * * * * * * * * * * */

 .stock-container {
  display: block;
  margin: auto;
  width: 100%;
  height: 99%
}

.stock-container p {
  margin: auto;
  text-align: center;
}

.stock-container iframe {
  width: 100%;
  height: 85%;
  background-color: black;
}

.stock-container-info {
  border: 2px solid gold;
  margin: 0;
  max-height: 14%;
}

.stock-container-info ul {
  margin: 0;
  color: white;
}

.stock-container-info li {
  color: white;
  display: inline;
  font-size: 0.8em;
  margin: 0;
}

/* * * * * * * * * * * * * * * *
 *        COMPANY LIST         *  
 * * * * * * * * * * * * * * * */

#quad-company-list {
  height: 99%;
  width: 100%;
}

#quad-company-list img {
  display: block;
  position: relative;
  margin: auto;
  max-height: 85%;
  max-width: 85%; 
}

.divTable {
  background-color: #000000;
  width: 100%;
  overflow: auto;
}

.divTableHead {
  display: inline-block;
  white-space: pre;
  width: 100%;
}

.cl-category {
  display: inline-block;
  height: 100%;
  overflow: auto;
}

/* #cl-header-overall {
  padding-right: 10%;
} */

#cl-header-name {
  padding-left: 5%;
}

.cl-header {
  position: relative;
  background-color: black; 
  color: #FFFFFF;
  font-size: 0.8em;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}
/**********************/



#cl-category-name {
  min-width: 30%;
  max-width: 50%;
  overflow: hidden;
}

/* #cl-category-overall {
  margin: 0 15px;
} */

.cl-list {
  padding-top: 2%;
  padding-left: 5%;
}

.cl-list a, .cl-list p {
  color: #A5A8A6;
}

.cl-list a:hover {
  color: #FFFFFF;
}

.company-names-list {
  display: block;
  font-size: 0.8em;
  list-style-position: inside;
  list-style-type: none; 
  /* padding-left: 5px; */
  text-decoration: none;
  white-space: nowrap;
  margin: 0;
}

.company-list{
  display: block;
  font-size: 0.8em;
  list-style-position: inside;
  list-style-type: none; 
  /* padding-left: 5px; */
  white-space: nowrap;
  margin: 0;
  text-align: center;
}

#cl-category-overall p {
  font-weight: bolder;
}

.company-list {
  margin: 0;
  padding: 0;
}

#img-stock-graph {
  position: relative;
  text-align: center;
  height: 250px;
  width: 100%;
}

#list-overview {
  list-style-type: none; 
  padding-left: 20px;
}

#list-overview h2, #list-overview em, #list-overview p{
  color: #FFFFFF;
}

#overview-company-logo {
  max-width: 400px;
  max-height: 200px;
}



.issues-container {
  display: inline-block;
  position: relative;
  margin: auto;
  width: 72%;
  height: 99%;
  overflow: hidden;
}

.issues-container p {
  color: #FFFFFF;
  font-size: 0.8em;
  margin: auto;
  text-align: center;
}

.issues-politicians {
  /* border: 2px solid gold; */
  display: inline-block;
  vertical-align: top;
  width: 27.5%;
  height: 99%;
}

.polit-recip {
  font-size: 0.8em;
  margin: 0 0 2%;
  text-align: center;
  color: #A5A8A6;
}

.polit-info {
  color: #A5A8A6;
  font-size: 0.6em;
  text-align: center;
  margin: 0 0 2%;
}

.politician {
  /* border: 2px dashed gold; */
  margin: 0 auto;
  width: 80%;
  height: 25%;
}

.politician p {
  font-size: 0.6em;
  color: #FFFFFF;
  margin: 0 auto;
  position: relative;
}

.politician img {
  /* border: 2px dashed gold; */
  display: block;
  position: relative;
  width: auto;
  height: 80%;
  margin: 2% auto;
}

