#quads-container {
  background-color: white;
  border: 2px solid gold;
  display: grid;
  grid-template-columns: minmax(400px, 600px) minmax(400px, 800px);
  grid-template-rows: minmax(300px, 400px) minmax(300px, 400px);
  max-width: 98%;
  margin: 0 auto;
}

.divTable {
  background-color: #DCDCDC;
  border: 2px solid gold;
  position: relative;
  overflow: scroll;
}

.divTableHead {
  display: inline-block;
  white-space: nowrap;
  width: 100%;
}

#quad-box-cl {
  /* border: 2px solid white; */
  /* display: grid; */
  position: absolute;
  top: 0;
  left: 0;
  max-height: 100%;
  width: 100%;
  overflow: scroll;
}

.cl-category {
  display: inline-block;
  border: 2px solid black;
  height: 100%;
  overflow: auto;
}

.cl-header {
  position: relative; 
  color: red;
  top: 2px;
  margin-top: 5px;
  padding-left: 5px;
}

#cl-category-name {
  /* background-color: red; */
  min-width: 100px;
  /* max-width: 180px; */
  resize: horizontal;
  overflow: hidden;
}

.cl-list {
  padding-top: 5px;
  padding-left: 5px;
}
/* #company-category-ticker {
  background-color: green;
}

#company-category-price {
  background-color: yellow;
}

#company-category-change {
  background-color: blue;
}

#company-category-52H {
  background-color: purple;
}

#company-category-52L {
  background-color: paleturquoise;
} */

/* #company-list-quad {
  display: grid;
  grid-template-columns: 20% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-rows: auto;
} */

.company-names-list, .company-list{
  display: block;
  list-style-position: inside;
  list-style-type: none; 
  /* padding-left: 5px; */
  white-space: nowrap;
  margin: 0;
}

.company-list {
  margin: 0;
  padding: 0;
}

/* #company-names-list li td {
  color: red;
  font-size: 1em;
  padding-right: 15px;
}

#company-names-list li td a {
  display: inline-block;
  white-space: nowrap;
  margin-right: 10px;
} */

/* #company-categories-list {
  margin-bottom: 0;
  margin-right: 0;
  padding-left: 5px;
} */

/* #company-categories-list li {
  display: inline;
  font-size: 0.8em;
  margin-right: 5px;
}

.company-category a {
  color: black;
  text-decoration: none;
} */

/* table {
  border-collapse: collapse;
}

table, td, th {
  border: 1px solid black;
} */