# Distribution files
dist/

# Dependency directories
node_modules/

# dotenv environment variables file
.env

# Fake company data for testing
companyData.json

# daemon
daemonServer.ts

# Database Dump
ethiq.dump.sql

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
