.mobile-takeover {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column
}

.mobile-takeover-image {
  padding: 10vh 10vw 5vh 10vw;
  height: auto;
  max-height: 20vh;
  max-width: 80vw;
  width: auto;
}

@media only screen and (orientation: landscape) {
  .mobile-takeover-image {
    padding: 10vh 30vw 5vh 30vw;
    height: auto;
    max-height: 20vh;
    max-width: 40vw;
    width: auto;
  }
}

.mobile-takeover-text {
  color: #FFFFFF;
  font-size: 5rem;
  padding: 5vh 10vw;
  text-align: center;
}