html {
  font-size: 2vh;
}

@media only screen and (orientation: portrait) {
  html {
    font-size: 2vw;
  }
}

body {
  background: #000000;
  font-family: 'Cinzel', serif;
  margin: 0;
}

/* Wrapper for Body/Footer - 92vh + 8vh = 100vh */
.screen {
  display: grid;
  grid-template-rows: 92vh 8vh; 
  height: 100vh;
  width: 100vw;
}

/* Form Header */
.form-header {
  color: #FFFFFF;
  letter-spacing: 5px;
  margin-top: 1.5vh;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-header-welcome-text {
  font-size: 1.6rem;
  margin: 1vh;
}

.form-header-hr {
  width: 40vw;
  margin: 1vh 0 2vh 0;
}

.form-header-hr hr {
  background-color: #FFFFFF;
  color: #FFFFFF;
  border: none;
  height: 1px;
}

.form-header-logo-image {
  height: 14vh;
}

.form-header-tagline {
  font-size: 1.1rem;
}


/* Header */
.header {
  color: #666666;
  font-size: 1.4rem;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.header-logo-image {
  height: 8vh;
}

.header-left {
  color: #FFFFFF;
  cursor: pointer;
  float: left;
  padding: 2vh 20px;
}

.header-right {
  padding: 3.5vh 20px;
  float: right;
}

.header-right:hover{
  color: #FFFFFF;
  cursor: pointer;
}

/* Screen your portfolio button */

.header-right-screen {
  display: none;
  background: #25B73F;
  border-radius: 3px;
  color: #FFFFFF;
  margin: 3vh 10px;
  padding: 0.5vh 10px;
  float: right;
}

.header-right-screen:hover{
  display: none;
  background: none;
  color: #25B73F;
  cursor: pointer;
}

.header li a {
  color: inherit;
  display: block;
  text-decoration: none;
}

/* Main Container = 12vh + 14vh + 52vh + 14vh = 92vh */
/* top 8vh / main 68 vh / bottom 8vh */
.main-dashboard {
  margin: 0 2.5vw;
  padding: 0 2.5vw;

  display: grid;
  grid-template-rows: 12vh 14vh 52vh 14vh;
}

/* Form Dashboard 2vh + 28vh + 60vh + 2vh = 92vh*/
.form-dashboard {
  margin: 2vh 2.5vw;
  padding: 0 2.5vw;

  display: grid;
  grid-template-rows: 28vh 62vh 
}

.dashboard-header {
  color: #FFFFFF;

  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-issue-header {
  font-size: 1.8rem;
  padding-top: 4vh;
}

.dashboard-survey-header {
  font-size: 2.2rem;
  padding-top: 1vh;
}

.dashboard-terms-header {
  font-size: 2.2rem;
  padding-top: 4vh;
}

.dashboard-side {
  display: flex;
  font-size: 2rem;
  font-weight: bold;
  align-items: center;
}

.dashboard-side-button {
  color: #888888;
  margin: 1vh auto;
  width: 100%;

  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-side-button:hover {
  cursor: pointer;
  color: #FFFFFF;
}

.dashboard-side > .invalid {
  color: #212121;
}

.dashboard-side > .invalid:hover {
  background: none;
  cursor: not-allowed;
}

.dashboard-footer {
  display: flex;
  justify-content: center;
  padding: 1vh 15% 1vh 15%;
}

.dashboard-footer-button a {
  color: inherit;
  text-decoration: none;
}

.dashboard-footer-button {
  color: #666666;
  font-size: 2rem;
  font-weight: bold;
  margin: 0 auto 6vh auto;
  width: 50%;

  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-footer-button:hover {
  color: #FFFFFF;
  cursor: pointer;
}

.dashboard-footer > .invalid {
  color: #212121;
}

.dashboard-footer > .invalid:hover {
  background: none;
  cursor: not-allowed;
}

/* Login/Register Style */
.form-container {
  grid-row-start: 2;
  align-items: center;
  display: flex;
  justify-content: center;
}

.input-form {
  box-sizing: content-box;
  padding: 24px;
  width: 45vw;
}

/* Login/Register Style - Input Form Fields */
.input-form .input-div {
  background: #000000;
  border-bottom: 1px solid #FFFFFF;
  font-size: 1.2rem;
  margin: 0.3vh 0;

  display: flex;
}

.input-form .input-form-header {
  color: #FFFFFF;
  font-size: 1.8rem;
  margin-bottom: 3vh;
  text-align: center;
}

.input-form .input-form-text {
  color: #FFFFFF;
  font-size: 1.2rem;
  margin-bottom: 3vh;
  text-align: center;
}

.input-form .input-field-label {
  color: #FFFFFF;
  display: inline-block;
  margin: 0 4px;
  padding: 1vh 0.1vw;
  white-space: nowrap;
}

.input-form .input-field {
  background: #000000;
  border: none;
  box-sizing: border-box;
  color: #FFFFFF;
  font-family: 'Cinzel', serif;
  font-size: 1.2rem;
  font-weight: bold;
  outline: none;
  padding: 1vh 0.1vw;
  width: 100%;
}

.input-form .input-field-name-wrapper {
  box-sizing: border-box;
  display: inline-block;
  width: 50%;
}

.input-form .input-field-name-wrapper:nth-of-type(1) {
  padding-right: 24px;
}

/* Login/Register Style - Input Form Check Box */
.input-form .input-check-div {
  margin: 0.5vh 0 2.5vh 0.2vw;

  display: flex;
  justify-content: space-between;
}

.input-form .input-check-label {
  color: #FFFFFF;
  display: inline-block;
  position: relative;
  padding: 0 0 0 1.8vw;
  margin: 1vh 0;
  cursor: pointer;
}

.input-form .input-check {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.input-form .checkmark {
  background-color: #666666;
  border: 0.1vh solid #666666;
  border-radius: 2px;

  position: absolute;
  top: 0;
  left: 0;

  height: 2.1vh;
  width: 2.1vh;
}

.input-form .input-check-label input:checked ~ .checkmark {
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
}

/* Create checkmark - hidden when not checked */
.input-form .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show checkmark when checked */
.input-form .input-check-label input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.input-form .checkmark:after {
  left: 0.6vh;
  top: 0.2vh;
  width: 0.5vh;
  height: 1vh;
  border: solid #000000;
  border-width: 0 0.5vh 0.5vh 0;
  transform: rotate(45deg);
}

.input-form .submit-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1vh 0;
  white-space: nowrap;
}

.input-form .submit-button {
  color: #666666;
  font-size: 2.0rem;
  font-weight: bold;
  outline: none;
  padding: 10px 24px;
}

.input-form .submit-button:hover {
  color: #FFFFFF;
  cursor: pointer;
}

.input-form .change-form-link {
  color: #666666;
  font-size: 1.4rem;
  text-align: center;
  width: 100%;
}

.input-form .change-form-link a {
  color: #666666;
  text-decoration: none;
}

.input-form .change-form-link a:hover {
  color: #FFFFFF;
}

/* Form Error Styling */

.form-error {
  font-size: 1.2rem;
  color: #dc3545;
}

/* Issue Dashboard - 84vh => 8vh/68vh/8vh */
/* Issue Dashboard Container - 68vh (1p/66/1p) */
.issue-dashboard-container {
  box-sizing: border-box;
  padding: 4vh 6vw;

  display: flex;
  flex-flow: row wrap;
}

/* Issue Card - 11vh */
.issue-card {
  /* border: 3px solid #616161; */
  box-sizing: border-box;
  color: #616161;
  font-size: 1.6rem;
  margin: 1vh auto;
  text-align: center;
  width: 33%;
  height: 17%;
  display: block;
  justify-content: center;
  align-items: center;
  
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.issue-card:hover {
  color: #FFFFFF;
  cursor: pointer;
  /* border: 3px solid #FFFFFF; */
}

.issue-card-selected {
  /* border: 3px solid #FFFFFF; */
  color: #FFFFFF;
}

.issue-card-unavailable {
  /* border: 3px solid #212121; */
  color: #212121;
  cursor: not-allowed;
}

.issue-card-unavailable:hover {
  /* border: 3px solid #212121; */
  color: #212121;
  cursor: not-allowed;
}

/* Terms | Privacy | FAQ */
.terms-dashboard-container {
  box-sizing: border-box;
  color: #666666;
  padding: 4vh 6vw;
  overflow-y: scroll;
  overflow-x: hidden;

  grid-row-start: 3;
  grid-row-end: 5;
  margin-bottom: 2vh;
}

.terms-dashboard-container a {
  color: inherit;
  text-decoration: underline;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.terms-dashboard-container a:hover {
  color: #FFFFFF;
}

.terms-header {
  color: #888888;
  font-size: 1.5rem;
  font-weight: bold;
}

.dashboard-footer-terms-button {
  margin: auto;
}

/* Forgot Password Link */
.forgot-password {
  margin: 1vh;
}

.forgot-password a {
  color: #666666;
  text-decoration: none;
}

.forgot-password a:hover {
  color: #FFFFFF;
  cursor: pointer;
}

.slider {
  -webkit-appearance: none;
  width: 50%;
  height: 4px;
  background: #528161;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}