body {
  background: #000000;
  font-family: 'Cinzel', serif;
  margin: 0;
}

/* Wrapper for Body/Footer - 92vh + 8vh = 100vh */
.screen {
  display: grid;
  grid-template-rows: 92vh 8vh; 
  height: 100vh;
  width: 100vw;
}

/* Form Header */
.form-header {
  color: #FFFFFF;
  letter-spacing: 5px;
  margin-top: 2vh;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-header-welcome-text {
  font-size: 1.5rem;
  margin: 1vh;
}

.form-header-hr {
  width: 40vw;
  margin: 1vh 0 2vh 0;
}

.form-header-logo-image {
  height: 14vh;
}

/* Header */
.header {
  color: #FFFFFF;
  font-size: 1.2rem;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.header-logo-image {
  height: 8vh;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
}

.header li a {
  color: inherit;
  display: block;
  text-align: center;
  text-decoration: none;
}

.header a:hover {
  background-color: #212121;
  font-weight: bold;
}

.header li a {
  padding: 14px 20px;
}

/* Footer - 4vh + 4vh = 8vh */
.footer {
  color: #666666;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

/* Footer Links */
.footer-links {
  letter-spacing: 1.5px;
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
}

.footer-links li a {
  color: inherit;
  font-size: 0.8rem;
  padding: 7px 20px;
  text-decoration: none;
}

.footer-links a:hover {
  color: #FFFFFF;
}

/* Disclaimer */
.disclaimer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.disclaimer-text {
  font-size: 7px;
  text-align: center;
}

/* Header Footer Shared */

/* Main Container = 12vh + 20vh + 50vh + 10vh = 92vh */
/* top 8vh / main 68 vh / bottom 8vh */
.main-dashboard {
  margin: 0 2.5vw;
  padding: 0 2.5vw;

  display: grid;
  grid-template-rows: 12vh 15vh 50vh 15vh;
}

/* Form Dashboard 2vh + 28vh + 60vh + 2vh = 92vh*/
.form-dashboard {
  margin: 2vh 2.5vw;
  padding: 0 2.5vw;

  display: grid;
  grid-template-rows: 28vh 62vh 
}

.dashboard-header {
  color: #FFFFFF;
  font-size: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-footer {
  display: flex;
  padding: 4vh 15%;
}

.dashboard-footer-button {
  color: #666666;
  font-size: 1.8rem;
  margin: 1vh auto;
  width: 20%;

  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-footer-button:hover {
  color: #FFFFFF;
  cursor: pointer;
}

.dashboard-footer > .invalid {
  color: #212121;
}

.dashboard-footer > .invalid:hover {
  background: none;
  cursor: not-allowed;
}

/* Login/Register Style */
.form-container {
  grid-row-start: 2;
  align-items: center;
  display: flex;
  justify-content: center;
}

.login-register-form {
  box-sizing: content-box;
  padding: 24px;
  width: 600px;
}

/* Login/Register Style - Input Form Fields */
.login-register-form .input-div {
  background: #000000;
  border-bottom: 1px solid #FFFFFF;
  font-size: 16px;
  margin: 6px 0;

  display: flex;
}

.login-register-form .input-field-label {
  color: #FFFFFF;
  display: inline-block;
  margin: 0 4px;
  padding: 12px 2px;
  white-space: nowrap;
}

.login-register-form .input-field {
  background: #000000;
  border: none;
  box-sizing: border-box;
  color: #FFFFFF;
  font-family: 'Cinzel', serif;
  font-size: 16px;
  outline: none;
  padding: 12px 2px;
  width: 100%;
}

.login-register-form .input-field-name-wrapper {
  box-sizing: border-box;
  display: inline-block;
  width: 50%;
}

.login-register-form .input-field-name-wrapper:nth-of-type(1) {
  padding-right: 24px;
}

/* Login/Register Style - Input Form Check Box */
.login-register-form .input-check-label {
  color: #FFFFFF;
  display: inline-block;
  position: relative;
  padding: 0 0 10px 25px;
  margin: 12px 2px;
  cursor: pointer;
}

.login-register-form .input-check {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.login-register-form .checkmark {
  background-color: #FAFAFA;
  border: 1px solid #CDCFD4;
  border-radius: 2px;

  position: absolute;
  top: 0;
  left: 0;

  height: 16px;
  width: 16px;
}

.login-register-form .input-check-label input:checked ~ .checkmark {
  background-color: #2e7d32;
  border: 1px solid #2e7d32;
}

/* Create checkmark - hidden when not checked */
.login-register-form .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show checkmark when checked */
.login-register-form .input-check-label input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.login-register-form .checkmark:after {
  left: 5px;
  top: 2px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.login-register-form .submit-button-container {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}

.login-register-form .submit-button {
  color: #666666;
  font-size: 22px;
  font-weight: bold;
  outline: none;
  padding: 12px 24px;
}

.login-register-form .submit-button:hover {
  color: #FFFFFF;
  cursor: pointer;
}

.login-register-form .change-form-link {
  color: #666666;
  padding: 16px 0;
  text-align: right;
  width: 100%;
}

.login-register-form .change-form-link a {
  color: #64a271;
  text-decoration: none;
}

.login-register-form .change-form-link a:hover {
  color: #64a271;
  font-weight: bold;
  text-decoration: underline;
}

/* Issue Dashboard - 84vh => 8vh/68vh/8vh */
/* Issue Dashboard Container - 68vh (1p/66/1p) */
.issue-dashboard-container {
  box-sizing: border-box;
  padding: 4vh 6vw;

  display: flex;
  flex-flow: row wrap;
}

/* Issue Card - 11vh */
.issue-card {
  /* border: 3px solid #616161; */
  box-sizing: border-box;
  color: #616161;
  font-size: 1.6rem;
  margin: 1vh auto;
  width: 33%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.issue-card:hover {
  color: #FFFFFF;
  cursor: pointer;
  /* border: 3px solid #FFFFFF; */
}

.issue-card-selected {
  /* border: 3px solid #FFFFFF; */
  color: #FFFFFF;
}

.issue-card-unavailable {
  /* border: 3px solid #212121; */
  color: #212121;
  cursor: not-allowed;
}

.issue-card-unavailable:hover {
  /* border: 3px solid #212121; */
  color: #212121;
  cursor: not-allowed;
}

/* Survey Dashboard - 84vh => 8vh/68vh/8vh */
.survey-dashboard-container {
  display: grid;
  grid-template-rows: 16vh 16vh 16vh;
  margin: 1vh 0;
  height: 78vh;
  width: 100%;
}

.survey-question {
  margin: 0;
}

.survey-question-box {
  font-size: 1.25rem;
  height: 18vh;
  margin: 0 2vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.survey-question-text {
  color: white;
  display: inline-block;
  padding: 1vh 0 1vh 0;
}

.survey-question-hr {
  margin-bottom: 1vh;
  width: 50vw;
}

.survey-question-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.survey-button {
  border: none;
  box-sizing: border-box;
  color: #666666;
  font-size: 1.4rem;
  margin: 0 10vw;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.survey-button:hover {
  color: white;
  cursor: pointer;
}

.survey-agreed {
  color: #005005;
}

.survey-disagreed {
  color: #8e0000;
}

.survey-deselected-button {
  color: #212121;
}
