.onboarding {
  grid-row-start: 2; 
  grid-row-end: 5;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 4vh 0;
}

.onboarding-step {
  margin: 1vh 0;

  display: flex;
  flex-direction: column; 
  align-items: center;

}

.onboarding-step-text {
  color: #FFFFFF;
  font-size: 1.8rem;
  /* font-weight: bold; */
}

.onboarding-step-icons {
  margin-top: 2vh;
}

.onboarding-icons-img {
  fill: #666666;
  height: 10vh;
  margin: 0 1vw;
}

.onboarding-button {
  color: #888888;
  font-size: 2.4rem;
  font-weight: bold;
  margin-top: 3vh;
}

.onboarding-button:hover {
  color: #FFFFFF;
  cursor: pointer;
}